body {
    background-color: #ffeef7; /* pastel pink */
    font-family: Arial, sans-serif;
    text-align: center;
}

.question-box {
    background-color: #fff6ff; /* pastel lavender */
    padding: 15px;
    margin: 15px auto;
    width: 80%;
    border-radius: 10px;
    cursor: pointer;
}

.option-btn {
    background-color: #ddf7ff; /* pastel blue */
    border: none;
    padding: 7px;
    margin: 5px;
    border-radius: 5px;
}

.timer {
    color: #ff77aa; /* darker pastel pink */
    font-weight: bold;
}

